
<table class="table table-bordered">
  <thead>
    <tr> 
      <th>imagen</th>
      <th>articulo</th>
      <th>tipo</th>
      <th>precio</th>
      <th>stock</th>
      <th>oferta</th>
      <th>cantidad</th>
    </tr>
  </thead>
  <tbody>
    @for (producto of productos; track producto.nombre) { 
    <tr>
      <td><img [src]="producto.imagen" [alt]="producto.nombre" /></td> 
      <td>{{producto.nombre}}</td>
      <td>{{producto.tipo}}</td>
      <td>{{producto.precio|currency}}</td>
      <td>{{producto.stock}}</td>   
      @if (producto.oferta==true) {
       <td class="table-success">en oferta</td>
      }
      @else {
        <td></td> 
      }
      <td> 
        <app-input-cantidad-unidades [producto]="producto"></app-input-cantidad-unidades>
        <button class="btn-success" (click)="agregarAlCarro(producto)">agregar al carro</button>
      </td>
    </tr>
  }
  </tbody>
</table>



